.container

  .card.mb-4
    %h2.card-title.m-2#how-to-import-html HTMLファイルの保存とスコアのインポート
    .card-body
      %p.text-danger.fs-5
        PC以外からはHTMLの保存が出来る保証が出来ません．
      %p.text-danger.fs-5
        PC以外の方は下記の
        = link_to 'WACCA RATING ANALYZER', 'https://shimmand.github.io/wacca-rating-analyzer/', target: '_blank'
        を用いたインポート方法をお試しください

      %p
        = link_to 'https://wacca.marv-games.jp/web/music', 'https://wacca.marv-games.jp/web/music', target: '_blank'
        へアクセスします
      %p Ctrl+SまたはCmd+Sを押すと以下のようにエクスプローラーに保存することが出来ます
      = image_tag 'wacca_page_saving.png', class: "img-fluid rounded mx-auto d-block"

      %p
        こちらで
        %span.text-danger 必ず
        「Web page, complete」を選択してください

      %p
        = link_to 'https://wacca.little-rubyist.com/users/settings', 'https://little-rubyist.com/users/settings'
        に移動し，
      = image_tag 'wacca_page_uploading.png', class: 'img-fluid rounded mx-auto d-block'
      %p 楽曲スコアインポート(HTML)のフォームへ先程保存したファイルの中にある「file_name.htm」などのHTMLファイルを選択してください


  .card
    %h2.card-title.m-2#how-to-import-csv CSVファイルの保存とスコアのインポート
    .card-body
      %p
        = link_to 'WACCA RATING ANALYZER', 'https://shimmand.github.io/wacca-rating-analyzer/', target: '_blank'
        へアクセスします
      %p スコアを既に読込・分析している方はエクスポートボタンを押下します
      %p スコアを分析されていない方はサイトの「はじめに」に記載されている指示に従ってスコア情報を取得してください
      = image_tag 'wacca_rating_analyzer_export.png', class: 'img-fluid rounded mx-auto d-block'

      %p CSVを選択し，保存します
      = image_tag 'wacca_rating_analyzer_export_confirm.png', class: 'img-fluid rounded mx-auto d-block'

      %p
        = link_to 'https://wacca.little-rubyist.com/users/settings', 'https://little-rubyist.com/users/settings'
        に移動し，
      = image_tag 'wacca_rating_analyzer_upload.png', class: 'img-fluid rounded mx-auto d-block'
      %p 楽曲スコアインポート(CSV)のフォームへ先程保存したファイルの中にある「file_name.csv」などのCSVファイルを選択してください
