%h1 アカウント登録
= form_with model: @user, url: sign_up_url do |f|
  = f.label :name
  = f.text_field :name

  = f.label :email
  = f.email_field :email

  = f.label :password
  = f.password_field :password

  = f.label :password_confirmation
  = f.password_field :password_confirmation

  = f.submit "登録する", class: "btn btn-primary mx-1"

  .dropdown
    %button.btn.btn-secondary.dropdown-toggle#dropdownMenuButton1{type: "button", "data-bs-toggle": "dropdown", "aria-expanded": "false"}
      Dropdown button
    %ul.dropdown-menu{"aria-labelledby": "dropdownMenuButton1"}
      %li
        %a.dropdown-item{href: "#"}
          Action
      %li
        %a.dropdown-item{href: "#"}
          Another action
      %li
        %a.dropdown-item{href: "#"}
          Something else here

= link_to "ログイン", sign_in_path