.container
  %h1 アカウント登録
  = form_with model: @user, url: sign_up_url do |f|
    .row.justify-content-center.mb-2
      = f.label :name, class: 'form-label col-3'
      .col-9
        = f.text_field :name, class: 'form-control'

    .row.justify-content-center.mb-2
      = f.label :email, class: 'form-label col-3'
      .col-9
        = f.email_field :email, class: 'form-control'

    .row.justify-content-center.mb-2
      = f.label :password, class: 'form-label col-3'
      .col-9
        = f.password_field :password, class: 'form-control'

    .row.justify-content-center.mb-2
      = f.label :password_confirmation, class: 'form-label col-3'
      .col-9
        = f.password_field :password_confirmation, class: 'form-control'

    = f.submit "登録する", class: "btn btn-primary mx-1"

  = link_to "ログイン", sign_in_path
