.container
  %h1
    = t('views.users.new')
  = form_with model: @user, url: sign_up_url do |f|
    = render 'shared/error_messages', object: f.object
    .row.mb-2
      = f.label :name, class: 'form-label col-3'
      .col-9
        = f.text_field :name, class: 'form-control', required: true

    .row.mb-2
      = f.label :display_name, class: 'form-label col-3'
      .col-9
        = f.text_field :display_name, class: 'form-control'

    .row.mb-2
      = f.label :password, class: 'form-label col-3'
      .col-9
        = f.password_field :password, class: 'form-control', required: true

    .row.mb-2
      = f.label :password_confirmation, class: 'form-label col-3'
      .col-9
        = f.password_field :password_confirmation, class: 'form-control', required: true

    = render 'register_info'

    .d-grid.gap-2.d-block.justify-content-end.m-3
      = f.submit t('views.common.register_button'), class: "btn btn-primary mx-1"
