.container
  %h1 My Page
  = search_form_for @q, url: user_songs_path do |f|
    .card
      .card-body
        %h5.card-title
          = t('views.common.search')
        .row
          .col-lg-4
            = hidden_field_tag :locale, params[:locale]
            = f.label :song_difficulty_gteq, t('views.search.song_difficulty_gteq'), class: 'form-label'
            %output#difficulty-value-id{name: 'difficultyValue'}
              = t('views.user_songs.unselect')
            %a.btn.btn-outline-secondary.btn-sm#reset-difficulty-value
              = t('views.common.reset_button')
            = f.range_field :song_difficulty_gteq, { min: 1, max: 15, step: 0.1, class: 'form-range' }
          .col-lg-4.col-md-4
            = f.label :song_diff_type_eq, t('views.search.song_diff_type_eq'), class: 'form-label'
            = f.select :song_diff_type_eq, Song.diff_types.map { |k, v| [Song.human_attribute_enum_value(:diff_type, k), v] }.to_h, {include_blank: true},  {class: 'form-select'}
          .col-lg-4.col-md-4
            = f.label :song_title_or_song_title_english_cont, t('views.search.song_title_cont'), class: 'form-label'
            = f.search_field :song_title_or_song_title_english_cont, class: 'form-control'
        .row
          .col-lg-4.col-md-4
            = f.label :song_genre_eq, t('views.search.song_genre_eq'), class: 'form-label'
            = f.select :song_genre_eq, Song.genres.map { |k, v| [Song.human_attribute_enum_value(:genre, k), v] }.to_h, {include_blank: true},  {class: 'form-select'}
          .col-lg-4.col-md-4
            = f.label :user_scores_achieve_eq, t('views.search.user_scores_achieve_eq'), class: 'form-label'
            = f.select :user_scores_achieve_eq, UserScore.achieves.map { |k, v| [UserScore.human_attribute_enum_value(:achieve, k), v] }.to_h, {include_blank: true}, {class: 'form-select'}
          .col-lg-4.col-md-6.mt-3
            .row
              .col
                = f.label :is_favorite_true, t('views.search.user_song_is_favorite_true'), class: 'form-label'
                = f.check_box :is_favorite_true, {class: 'form-check-input'}, 1, nil
            .row
              .col
                = f.label :song_can_play_offline_true, t('views.search.song_can_play_offline_true'), class: 'form-label'
                = f.check_box :song_can_play_offline_true, {class: 'form-check-input'}, 1, nil
        .d-grid.gap-2.d-block.justify-content-end.m-3
          = f.submit t('views.common.search_button'), class: 'btn btn-primary'
  .table-responsive
    %table.table
      %thead
        %tr
          %th{scope: "col"}
            - if params[:locale] == 'en'
              = Song.human_attribute_name(:title_english)
            - else
              = Song.human_attribute_name(:title)
          %th{scope: "col"}
            = Song.human_attribute_name(:genre)
          %th{scope: "col"}
            = Song.human_attribute_name(:difficulty)
          %th{scope: "col"}
            = Song.human_attribute_name(:diff_type)
          %th{scope: "col"}
            = UserScore.human_attribute_name(:score)
          %th{scope: "col"}
            = UserScore.human_attribute_name(:archive)
      %tbody
        - @songs.each do |song|
          %tr
            %th{scope: 'row'}
              - if params[:locale] == 'en' && song.song.title_english.present?
                = link_to song.song.title_english, user_song_path(song.id), class: 'text-black'
              - else
                = link_to song.song.title, user_song_path(song.id), class: 'text-black'
            %td #{Song.human_attribute_enum_value(:genre, song.song.genre)}
            %td #{song.song.difficulty}
            %td #{Song.human_attribute_enum_value(:diff_type, song.song.diff_type)}
            %td #{index_score(song)}
            %td #{index_archive_text(song)}
  .d-flex.justify-content-center.mb-2
    = pagy_bootstrap_nav(@pagy).html_safe
