%nav.navbar.navbar-expand-lg.bg-light
  .container-fluid
    %a.navbar-brand{href: root_path} OFFCCA
    %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarSupportedContent", "data-bs-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    .collapse.navbar-collapse#navbarSupportedContent
      %ul.navbar-nav.me-auto.mb-2.mb-lg-0
        - unless logged_in?
          %li.nav-item
            %a.nav-link.active{href: sign_up_path} #{I18n.t('views.header.register')}
          %li.nav-item
            %a.nav-link.active{href: sign_in_path} #{I18n.t('views.header.login')}
        - if logged_in?
          %li.nav-item
            -#%a.nav-link.active{href: user_songs_path} #{I18n.t('views.header.home')}
            %a.nav-link.active{href: user_path(current_user)} マイページ
        %li.nav-item
          %a.nav-link.active{href: songs_path} #{I18n.t('views.header.songs')}
        %li.nav-item.dropdown
          %a.nav-link.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", :href => "#", :role => "button"}
            #{I18n.t('views.header.gallery')}
          %ul.dropdown-menu
            %li
              %a.dropdown-item{:href => gallery_icons_path} #{I18n.t('views.header.icons')}
            %li
              %a.dropdown-item{:href => gallery_plates_path} #{I18n.t('views.header.plates')}
            %li
              %a.dropdown-item{:href => gallery_songs_path} #{I18n.t('views.header.jackets')}
        %li.nav-item.dropdown
          %a.nav-link.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", :href => "#", :role => "button"}
            = I18n.t('views.header.other')
          %ul.dropdown-menu
            %li
              %a.dropdown-item{:href => information_path} #{I18n.t('views.header.information')}
            %li
              %a.dropdown-item{:href => sponsors_path} #{I18n.t('views.header.donation')}
            %li
              %hr.dropdown-divider/
            %li
              %a.dropdown-item{:href => agreement_path} #{I18n.t('views.header.agreement')}
            %li
              %a.dropdown-item{:href => policies_path} #{I18n.t('views.header.policy')}
      .d-flex
        %ul.navbar-nav.me-auto.mb-2.mb-lg-0
          %li.nav-item.dropdown
            %a.nav-link.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", :href => "#", :role => "button"}
              language
            %ul.dropdown-menu
              %li
                %a.dropdown-item{:href => locale_path('ja')} 日本語
              %li
                %a.dropdown-item{:href => locale_path('en')} English
          - if logged_in?
            %li.nav-item
              = link_to I18n.t('views.header.logout'), sign_out_path, {method: :post, class: 'nav-link active'}
            %li.nav-item
              %a.nav-link.active{href: settings_users_path} #{I18n.t('views.header.setting')}
