.container
  %h1 スコア追加
  %h3 楽曲情報
  %ul.list-group.mb-4
    %li.list-group-item タイトル：#{@song.title}
    %li.list-group-item ジャンル：#{Song.human_attribute_enum_value(:genre, @song.genre)}
    %li.list-group-item レベル：#{Song.human_attribute_enum_value(:diff_type, @song.diff_type)}
    %li.list-group-item 難易度：#{@song.difficulty}
  = form_with model: @user_score, url: {action: :create} do |f|
    = f.hidden_field :user_song_id
    .row.mb-2
      = f.label :score, class: 'form-label col-3'
      .col-9
        = f.text_field :score, class: 'form-control'
    .row.mb-2
      = f.label :achieve, class: 'form-label col-3'
      .col-9
        = f.select :achieve, UserScore.achieves.map { |k, _| [UserScore.human_attribute_enum_value(:achieve, k), k] }.to_h, {include_blank: true}, {class: 'form-select'}
    .d-grid.gap-2.d-block.justify-content-end.m-3
      = f.submit "追加する", class: "btn btn-primary mx-1"
